{
  "semi": true,
  "tabWidth": 4,
  "useTabs": false, // Использовать пробелы вместо табов
  "trailingComma": "es5", // Добавляет запятую в последнем элементе объектов и массивов (возможные значения: none, es5, all)
  "bracketSpacing": true, // Пробелы между фигурными скобками в объектах
  "arrowParens": "always", // Всегда заключать параметры стрелочной функции в круглые скобки
  "printWidth": 80 // Максимальная длина строки (после которой будет перенос)
}
